## Part 1 - Getting Started

In [106]:
print("hello world!")

hello world!

### Task 1 
The notebook that seems the most interesting to me was the Replication of the highly-contentious analysis of economic growth by Reinhart and Rogoff. This seems to be a analysis of the the economic growth during a period of debt. You can find that [Here](https://github.com/jupyter/jupyter/wiki/A-gallery-of-interesting-Jupyter-Notebooks#economics-and-finance). I thought this was interesting that they used python to do an analysis on the all these countries. You could probably do a lot of analysis of the the economy if you had the right data. Something that I would be interested is doing an analysis on the stock market with python.

### Task 2 
A)
<ol>
<li>Requests - allows you to send requests</li>
<li>Scrappy - extract data from websites </li>
<li>wxPython - allows you to create graphical user interfaces</li>
<li>Pillow - a python image library</li>
<li>SQLALCHEMY - allows you to use python like SQL </li>
<li>Beautiful Soup - allows you to find certain elements on a website</li>
</ol>	

There are the links and you can find them here: [Requests](http://www.python-requests.org/en/master/), [Scrappy](https://scrapy.org/), [wxPython](https://wxpython.org/),[Pillow](https://pillow.readthedocs.io/en/stable/), [SQLAlCHEMY](https://www.sqlalchemy.org/), and [Beatiful Soup](https://www.crummy.com/software/BeautifulSoup/).

B) 
[ggplot](http://ggplot.yhathq.com/) is a library that is based off R's ggplot! 

C)
[Pandas](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.html) is a library that uses something similar to dataframes.

### Task 3
The three main differences that I saw was in the print method. For R you need parenthesis, but for python 2 you do not need it. The second is how you import libraries. In R, you type library(), but in python you type import library. The third is how you use libraries. In R, to use the library all you need is the function name, but for python you need to type the library then the function.

## Part 2

### Task 4

In [107]:
sentence = "I love "
item = "cheese"
print sentence  + item

I love cheese

### Task 5

In [108]:
x = 42
print sentence, item, x
print sentence.upper() + str(x).upper() + " " + item.upper()

I love  cheese 42
I LOVE 42 CHEESE

### Task 6

In [109]:
words = [sentence,item + " ",str(x)]
joinstring =""
print words
joinstring = joinstring.join(words)
print joinstring
print joinstring.count("e")
print joinstring.count("cheese")

['I love ', 'cheese ', '42']
I love cheese 42
4
1

### Task 7

In [110]:
print joinstring[:len(joinstring)/2]

I love c

### Task 8

In [111]:
print joinstring
joinstring = joinstring.strip("42")
print joinstring
joinstring = joinstring.replace("cheese", "milk")
print joinstring

I love cheese 42
I love cheese
I love milk

### Task 9

In [112]:
words2 = joinstring.split()
words2.insert(len(words2)-1, "chocolate")
words2

['I', 'love', 'chocolate', 'milk']

### Task 10

In [113]:
import random
x = random.randrange(100) + 1
print x
if x <= 25:
    print "1st Quartile"
elif x <= 50:
    print "2nd Quartile"
elif x <= 75:
    print "3rd Quartile"
else: 
    print "4th Quartile"

14
1st Quartile

### Task 11

In [114]:
cities = ["Seattle", "Tacoma", "Tracy", "Olympia", "Portland"]
for city in cities:
    print "Warning, residents of " + city +  ", temperatures will reach sub-zero temperatures today,please stay indoors if possible"

Warning, residents of Seattle, temperatures will reach sub-zero temperatures today,please stay indoors if possible
Warning, residents of Tacoma, temperatures will reach sub-zero temperatures today,please stay indoors if possible
Warning, residents of Tracy, temperatures will reach sub-zero temperatures today,please stay indoors if possible
Warning, residents of Olympia, temperatures will reach sub-zero temperatures today,please stay indoors if possible
Warning, residents of Portland, temperatures will reach sub-zero temperatures today,please stay indoors if possible

### Task 12

In [115]:
 emptyList = []  
 states = ["Washington", "California", "Nevada", "Idaho", "Montana", "Utah", "Colorado", "New Mexico"]
for state in states: 
    emptyList.append("U://Users/Zhang/Geog_458/" + state + ".shp")

for path in emptyList:
    print path

U://Users/Zhang/Geog_458/Washington.shp
U://Users/Zhang/Geog_458/California.shp
U://Users/Zhang/Geog_458/Nevada.shp
U://Users/Zhang/Geog_458/Idaho.shp
U://Users/Zhang/Geog_458/Montana.shp
U://Users/Zhang/Geog_458/Utah.shp
U://Users/Zhang/Geog_458/Colorado.shp
U://Users/Zhang/Geog_458/New Mexico.shp

### Task 13

In [116]:
number = 10
i = number
while i >= 0:
    print "T-minus " + str(i)
    i-=1

T-minus 10
T-minus 9
T-minus 8
T-minus 7
T-minus 6
T-minus 5
T-minus 4
T-minus 3
T-minus 2
T-minus 1
T-minus 0

### Task 14

In [117]:
def countdown(count):
    i = count
    while i >= 0:
        print "T-minus " + str(i)
        i-=1
    
countdown(30)

T-minus 30
T-minus 29
T-minus 28
T-minus 27
T-minus 26
T-minus 25
T-minus 24
T-minus 23
T-minus 22
T-minus 21
T-minus 20
T-minus 19
T-minus 18
T-minus 17
T-minus 16
T-minus 15
T-minus 14
T-minus 13
T-minus 12
T-minus 11
T-minus 10
T-minus 9
T-minus 8
T-minus 7
T-minus 6
T-minus 5
T-minus 4
T-minus 3
T-minus 2
T-minus 1
T-minus 0

### Task 15

In [118]:
def quartile_calc(x):
    if x >= 0 and x <= 100:
        if x <= 25 :
            print "1st Quartile"
        elif x <= 50:
            print "2nd Quartile"
        elif x <= 75:
            print "3rd Quartile"
        elif x <= 100: 
            print "4th Quartile"
    else: 
        print "Error"
   
quartile_calc(99)

4th Quartile